@import "tailwindcss";





/* Light Palette */
:root {
  --primary: #03045e;
  --secondary: #023e8a;
  --accent: #0077b6;
  --teal: #0096c7;
  --info: #00b4d8;
  --sky: #48cae4;
  --lightblue: #90e0ef;
  --softblue: #ade8f4;
  --pale: #caf0f8;
}

/* Dark Palette */
.dark {
  --primary: #caf0f8;
  --secondary: #90e0ef;
  --accent: #48cae4;
  --teal: #00b4d8;
  --info: #0096c7;
  --sky: #0077b6;
  --lightblue: #023e8a;
  --softblue: #03045e;
  --pale: #01020f;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(to right, var(--primary), var(--accent));
  color: "white";
}
